<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.majorproject">

    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Limits app visibility in the Google Play Store to ARCore supported devices
     (https://developers.google.com/ar/devices). -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
<!--    <uses-feature android:glEsVersion="0x00020000" android:required="true" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".activities.ProfileActivity"/>
        <activity android:name=".activities.QuizResultActivity" />
        <activity
            android:name=".activities.QuestionActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.QuizMenuActivity" />
        <activity android:name=".activities.StartLearningActivity" />
        <activity android:name=".activities.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.ArActivity" />
        <meta-data android:name="com.google.ar.core" android:value="required" />
    </application>

</manifest>